body {
    background: white;
    font-family: 'Roboto', sans-serif;
    display: flexbox;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}


nav {
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
    background-color: #3e1ba7;
    padding: .5rem;
    padding-bottom: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
    display: inline;
}

footer p a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
    border-bottom: solid #f0f0f0 .8rem;
    transition: ease-out .25s;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}


.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }

  .rounded-list a:hover{
    background: #eee;
  }

  .rounded-list a:hover:before{
    transform: rotate(360deg);
  }

  .rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }

  Header h1 {
    padding-top: rem
  }

  /* HOME PAGE */
  /* Nav bar */
  .nav_container {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    top: 0;
  }

  .nav_logo {
    height: 100%;
    display: table;
    float: left;
  }

  .nav_logo h1 a {
    color: white;
    text-decoration: none;
    font-weight: 550;
  }

  .nav_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: .5rem 2.5rem;
    font-weight: bold;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: Courier, monospace;
    font-size: 16px;
}

/* Slogan */
.slogan {
    padding-top: 5rem;
    margin: auto;
    width: 50%;
    text-align: center;
    display: grid;
    padding-bottom: 5rem;
}

.slogan p {
    font-weight: 500;
    font-size: 1.25rem;
}

.slogan img {
    height: 250px;
    align-content: center;
}

.slogan button {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: rgb(237, 219, 249);
    border-radius: 15px;
    font-size: 1.25rem;
    border: none;
    padding: .5rem;
    font-weight: 500;
}

.right_choice {
    text-align: center;
}

.right_choice li {
    display: inline-block;
    margin: 2rem;
}