body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}


nav {
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
    background-color: #2c96bf;
    padding: .8rem;
    padding-bottom: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
    display: inline;
}

footer p a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
    border-bottom: solid #f0f0f0 .8rem;
    transition: ease-out .25s;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}


.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }

  .rounded-list a:hover{
    background: #eee;
  }

  .rounded-list a:hover:before{
    transform: rotate(360deg);
  }

  .rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }