body {
    background: #ccc;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}


nav {
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
    background-color: #4b2e83;
    padding: .8rem;
    padding-bottom: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
    display: inline;
}

header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url("../img/uw-bg.jpg");
    background-size: cover;
    background-position: center;
    background-color: #4b2e83;
    background-attachment: fixed;
    width: 100%;

}

footer p a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
    border-bottom: solid #f0f0f0 .8rem;
    transition: ease-out .25s;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

p, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Step 1: Customize the label (the area around the checklist) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 20px;
}

/* Step 2: Remove the default checkboxes so that we can create our own */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Step 3: Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #79e3d0;
}

/* Step 4: When hovering, add a background color */
.container:hover input ~ .checkmark {
    background-color: #c8e9e3;
}

/* Step 5: When the checkbox is checked, add a different background */
.container input:checked ~ .checkmark {
    background-color: #32e0f4;
}

/* Step 6: Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Step 7: Display the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Step 8: Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

<<<<<<< HEAD
.sicktrkr{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: 20px;
}

textarea, input, select, button {
    margin: 5px 0;
    padding: 5px;
  }

div {
    width: 80%;
}

.sicklog-img{
    width: 600px;
    height:400px;
=======
/* HOME PAGE */
  /* Nav bar */
  .nav_container {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    top: 0;
  }

  .nav_logo {
    height: 100%;
    display: table;
    float: left;
  }

  .nav_logo h1 a {
    color: white;
    text-decoration: none;
    font-weight: 550;
  }

  .nav_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: .5rem 2.5rem;
    font-weight: bold;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: Courier, monospace;
    font-size: 16px;
}

/* Slogan */
.slogan {
    padding-top: 5rem;
    margin: auto;
    width: 50%;
    text-align: center;
    display: grid;
    padding-bottom: 5rem;
}

.slogan p {
    font-weight: 500;
    font-size: 1.25rem;
}

.slogan img {
    height: 250px;
    align-content: center;
}

.slogan button {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: rgb(237, 219, 249);
    border-radius: 15px;
    font-size: 1.25rem;
    border: none;
    padding: .5rem;
    font-weight: 500;
}

.right_choice {
    text-align: center;
}

.right_choice li {
    display: inline-block;
    margin: 2rem;
>>>>>>> 1fff4c8ef48e13137477e6a0e7dc04a3ee148384
}